@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "src/responsive-navbar";

.demo-component {
  background: #f0f0f0;
  height: calc(100% - 0.5rem);
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 3px;
}
